@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636 32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95 1.414-1.414L9.414 40z' fill='%23000000' fill-opacity='0.1' fill-rule='evenodd'/%3E%3C/svg%3E");
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quote-container {
  width: auto;
  max-width: 900px;
  padding: 20px 30px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 4px 5px 5px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 4px 5px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 4px 5px 5px 0px rgba(0, 0, 0, 0.3);
}

.quote-text {
  font-size: 2.5rem;
}

.large-quote-text {
  font-size: 2rem;
}

.fa-quote-left {
  font-size: 4rem;
}

.quote-author {
  margin-top: 15px;
  font-size: 2rem;
  font-weight: 400;
  font-style: italic;
}

.button-container {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.twitter-button {
  background: rgb(23, 23, 23);
  padding: 8px 30px;
  border-radius: 10px;
  color: #fff;
  border: none;
  font-size: 2rem;
  box-shadow: 0px 7px 5px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 7px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 7px 5px 0px rgba(0, 0, 0, 0.3);
}

.twitter-button:hover {
  cursor: pointer;
}

#next-quote {
  padding: 8px 20px;
  font-size: 1.4rem;
  border-radius: 10px;
  background: rgb(23, 23, 23);
  color: #fff;
  box-shadow: 0px 7px 5px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 7px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 7px 5px 0px rgba(0, 0, 0, 0.3);
}

#next-quote:hover {
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .quote-container {
    margin: auto 10px;
  }

  .quote-text {
    font-size: 2.2rem;
  }
}
